/*Top Navigation Bar
---------------------------------------------*/
/* Add color to the top navigation */
.topnav {
    background-color: #e3d5db;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #595bee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      background: #343434;
      color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #28f8af;
    color: black;
  }